
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Bungee|Bungee+Hairline|Chivo');


body {
  background: url("../img/city.jpg");
background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
      }

body, html {
  
  margin:0;
  background-color:#fafafa;
}

/* Header */

header {
  width:50%;
  vertical-align: center;
  text-align: center;
 
}

.header-content {
  display: inline-block;
}

.pic {
  margin: 0px;
  margin-top:-8em;
  
  border-radius:10em;
  height:15em;
  width:15em;
  background-size: 100% auto;
  background-image: url(../img/jessi.jpg);
    border: 15px solid white;
  
  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }

}

.pic:hover {
  /*Webkit fix*/
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

.header-text {
  margin-top:0.5em;
  margin-left:1em;
}

header p {
  text-align: center;
  font-family: 'Bungee', cursive;
    font-size: 2em;
  
  margin: 2px;
  
  color: #40515c;
}


.first-name {
   font-size: 1em;
}

.subtitle {
  font-family: 'chivo', sans-serif;
  padding-top:0em;
  font-size:.66em;
  font-weight:500;
  color: #424242;
}

/*NAVIGATION*/

div.nav {
    position: static;
     padding-top: 0px;
    border-bottom-width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 130px; 
    margin-left: 30%:
    
}
.nav {
    font-family: 'bungee hairline', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    padding: 3em;
    text-align: center;
    background: rgba(76, 101, 115, .5); 
    
}
a,
a:visited {

    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: lightblue;
    text-decoration-line: overline;
}


/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;
  
  background-color:white;
  width:70%;
  
  padding:0.5em 0 0.5em 0;
  
  border-radius:3px;
}

/* Content Part */

.content-wrapper {
  padding-right:7.25%;
}

.content {
  display:table;
  width:100%;
  
  padding-top:1.5em;
  
  /*border-top: 1px solid #eeeeee;*/
}

.content:last-child {
  padding-bottom:1.5em;
}

.row {
    display:table-row;
}
.row div {
    display:table-cell;
}

.content-cat {
  font-family: 'bungee hairline', cursive;
  font-variant:small-caps;
  font-weight:9000;
  letter-spacing: 1px;
  
  color: #212121;
  
  font-size:2em;
  
  text-align:center;
  vertical-align:middle;
  width:36.66%;
}

.content-cat p {
  font-size:0.55em;
  font-weight:600;
  margin-bottom:0;
}


.content-text {
  border-left:1px solid #e0e0e0;
  transition: border 0.66s ease-in;
}

.content-text:hover {
  border-left:1px solid #cb4154;

}

.big-text {
  vertical-align:top;
  
  padding-top:1.25em;
}

.content-text ul {
  padding:0;
  margin:0;
  margin-top:0.15em;
  
  width:85%;
  margin-left:1.5em;
}

.content-text ul:last-child {
  margin-bottom:0.5em;
}

.content-text ul li {
  font-family: 'chivo', sans-serif;
  font-size:0.7em;
  
  display:inline-block;
  
}

.content-text ul li:first-child {
  width:35%;
  
  color: #424242;
  
  font-weight:600;
  font-size:0.75;
}

.content-text ul li a {
  text-decoration: none;
  color: #8ba5bd;
}

.content-text ul li a:hover {
  color:#b37450;
}

p {
    
    font-family: 'chivo', sans-serif;
}

.work-listing p {
 
  font-size:0.7em;
  font-weight:400;
  
  line-height:1.5;
  
  color: #424242;
  
  margin-left:2em;
  margin-top:0.25em;
  margin-bottom:0.75em;
}

.work-listing .highlight, .content-text.skills-listing > ul > li > .highlight {
  
  font-size:0.7em;
  font-weight:400;
  
  color: #647784;
  
  margin-left:3.25em;
  padding-left:0.5em;
  
  border-left:1px solid #e0e0e0;
  
}

.education-listing > .heading {
  font-weight:600;
  
  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:3.25em;
}

.content-text.skills-listing > ul {
  display:table-row;
}

.content-text.skills-listing > ul:last-child {
  margin-bottom:0;
}

.content-text.skills-listing > ul > li {
  display:table-cell;
  vertical-align:top;
  
  padding-left:2em;
  
  width:50%;
  font-weight:600;
}

a.inlink {
    
    color:#8ba5bd;
}

.content-text.skills-listing > ul > li span {
  font-weight:400;
  color: #616161;
}

.content-text.skills-listing > ul > li > .highlight {
  
  font-size:1em;
  font-weight:400;
  
  margin-left:1.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.highlight:hover, .content-text.skills-listing > ul > li > .highlight:hover {
  border-left:1px solid #cb4154;
}
