/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    
    background: teal;
}
.color-2 {
    
    background: beige;
}.color-3 {
    
    background: #8ba5bd;
}.color-4 {
    
    background: #b37450;
}.color-5 {
    
    background: #46342a;
}

/* Textures or Patterns*/

.pattern-1 {
    
    background: url("../img/binding_light.png");
}
.pattern-2 {
    
    background: url("../img/birds.jpg");
}.pattern-3 {
    
    background: url("../img/colorful.jpg");
}.pattern-4 {
    
    background: url("../img/wood.jpg");
}.pattern-5 {
    
    background: url("../img/flowers.jpg");
}

/* Imagery */


/* Icons */


/* Navigation */

a:link,
a:visited {
    font-family: 'Vollkorn', serif;
    color: #b37450;
    text-transform: full-width
}

a:hover {
    background: beige;
    margin-left: 10px; 
    
}

a:active {
    color: slategray;
    background: negative;
    
}
/* Typography */

p{
    
    font-family: 'Abhaya Libre', serif;
}

h1 {
    font-family: 'Trirong', serif;
}
h2 {
    font-family: 'Bungee Hairline', cursive;
}

h3 {
    
    font-family: 'Vollkorn', serif;
}