/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    
    background: teal;
}
.color-2 {
    
    background: beige;
}.color-3 {
    
    background: darkred;
}.color-4 {
    
    background: green;
}.color-5 {
    
    background: black;
}

/* Textures or Patterns*/

.pattern-1 {
    
    background: url("../img/binding_light.png");
}
.pattern-2 {
    
    background: url("../img/birds.jpg");
}.pattern-3 {
    
    background: url("../img/colorful.jpg");
}.pattern-4 {
    
    background: url("../img/wood.jpg");
}.pattern-5 {
    
    background: url("../img/flowers.jpg");
}

/* Imagery */


/* Icons */


/* Navigation */

a:link,
a:visited {
    
    color:darkred;
    text-transform: full-width
}

a:hover {
    background: beige;
    margin-left: 10px; 
    
}

a:active {
    color: slategray
    background: red;
    
}
/* Typography */

p{
    
    font-family: 'Abhaya Libre', serif;
}
